.currentWeather h4 {
    font-family: "Fredoka One", cursive;
    margin: 9px 0 0 10px;
    color: rgb(18, 77, 161) !important;
}

.currentWeather .head {
    font-size: 80px;
    color: rgb(249, 100, 7);
    font-weight: 600;
    text-align: center;
    text-indent: 400px;
    margin: 0 0 20px 0;
    line-height: 1.2;
}

.currentWeather .currentBlock {
    margin-left: 10px;
    margin-right: 10px;
}


.currentWeather.measureC:hover {
    color: rgb(15, 59, 120);
    cursor: default;
}

.currentWeather .skyIcon {
    margin-top: -55px;
    width: 155px;
    height: 155px;
    opacity: 0;
    animation: appear 2.5s ease-in infinite alternate-reverse;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.currentWeather .detailed {
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
}


.currentWeather .bigdate {
    text-align: right;
    font-size: 32px;
    color: rgb(15, 59, 120);
    font-weight: 900;
    text-transform: uppercase;
}

.currentWeather .bigwind,
.bigdrop {
    font-size: 25px;
    color: rgb(15, 59, 120);
}

.currentWeather .hum {
    text-align: right;
    text-indent: 15px;
    font-weight: 600;
    font-size: 20px;
}

.currentWeather.weatherDescription {
    font-size: 17px;
    display: inline-block;
}


.currentWeather .weatherDescription:first-letter {
    text-transform: capitalize;
}

.currentWeather .smalfore {
    margin-right: 20px;
    margin-left: 15px;
}


@media (max-width: 600px) {

    .currentWeather .head {
        font-size: 55px;
        /* color: rgb(249, 100, 7);
    font-weight: 600;
    text-align: center; */
        text-indent: 10px;
        margin-bottom: 10px;
        line-height: 1;
        /* margin: 0 0 20px 0;
    line-height: 1.2; */
    }

    .currentWeather .bigdate {
        text-align: center;
        font-size: 26px;

    }

    .currentWeather .skyIcon {
        /* margin-top: -55px; */
        width: 135px;
        height: 135px;
    }

    .currentWeather .smalfore {
        margin-top: 20px;
    }


}